export const colors = {
    accentOrange: '#FE6404',
    accentGreen: '#6DDB00',
    lightOrange: '#FCB386',
    lightBlue: '#8DA5F0',
    red: 'red',
    primary_1: '#EB6F2C',
    primary_2: '#FEF9F1',
    primary_3: '#FBEBCC',
    primary_4: '#B35C30',
    primary_5: '#723924',

    //Danger
    danger_1: '#FFE3E3',
    danger_2: '#F3B5B4',
    danger_3: '#E46E6A',
    danger_4: '#B53D37',
    danger_5: '#5B1D1E',

    // Success
    success_1: '#F3FFF5',
    success_2: '#D0F5D7',
    success_3: '#69B97E',
    success_4: '#48835D',
    success_5: '#2F533F',

    //  White black
    black: '#333333',
    grey: '#858585',
    gray: '#C2C2C2',
    light_gray: '#F5F5F5',
    white: '#FFFFFF',
    light_grey: '#fafafa',
    gray_second: 'rgb(236 236 236);'
}